@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap');
table {

    font-family: 'Poppins', sans-serif;
    border-collapse: collapse;
    height: 100%;
    border: .5px  ridge #f2f5fa; 
    background: #ffffff;
   display:flex;
   flex-direction:column;

    
  }
  
  td {
    text-align: left;
    padding: 21px;
    border-bottom:1px ridge #535357;
    font-size: 12px;
  }
  th {
    border-bottom:0.5px ridge  #535357;
    text-align: left;
    padding: 21px;
    font-size: 15px;
    font-weight: 500;
    color:#1e22ff;
  }
  td .btn{
    width:"5px" ;
    height:"5px";

  }
  .pagination{
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-self: space-around;
    align-items: flex-end;
    

  }
  .pagination .page-item{
    bottom: 20px;
  }
   .pagination a {
    color:#ffffff;
    background-color:#1e22ff;
    padding: 4px 4px;
    text-decoration: none;
  }
