
.container{
    display: flex;
    
   

}
.container .YourLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e22ff;
    padding: 0.9em 0em;
    width: 20vw;
    height: 100px;
    position: absolute;
    
}
.container .YourLogo p{
    font-size: 20px;
    background: none;
    color: white;        
}
    
.container .YourLogo svg{
    color: rgb(255, 255, 255); 
    background: none;   
}
    


.container .menu{
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #463bfa;
    height: 100%;
    width: 20vw;
    padding: 7em 0em;
    position: absolute;
    top: 100px;
    
}
.container .menu .btn-menu
{
    padding:1em 2em;
    font-size: 20px;
    font-weight: 0px;
    background-color: #463bfa ;
    border: none;
    color:#FFFFFF;
    
    
}
.container .menu svg{
    margin-bottom: -0.1em;
    padding-right: 1em;
    color: rgb(158, 202, 240);
    background: none;
    
}

.container .menu #icon-b{
    margin-left: -0.3em;
}

.container .menu #icon-c{
    margin-left: -1.3em;
}




