@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap');



.container{
    display: flex;
    background: #f2f5fa;
    
    
    
    
   

}
.container .topbar{
    background-color: #668fff;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2em;
    
}


.container .content{
    display: flex;
    margin-top:167px;
    margin-left: 382px;
    width: 76vw;
    position: absolute;
    background: #f2f5fa;
    
    height: 70vh;
    
    

}
.container .head{
    display: flex;
    margin-top:113px;
    margin-left: 383px;
    position: absolute;
    justify-content: center;
    align-items: center;
    background: none;
    color:#535357;
    font: weight 100%;
    font-size: 25px;
}
contentbx form{
    width: 100%;
    background: #f2f5fa;
    

}
.content .left{
    display:flex;
    flex-direction: column;
    float:left;
    align-items: space-between;
    justify-content: space-around;
    margin: 0 134px;
    background: #f2f5fa;
    
    

}
.content .right{
    display:flex;
    flex-direction: column;
    float:right;
    justify-content: space-around;
    align-items: space-between;
    margin: 0 -5px;
    background: #f2f5fa;
    
}
.content .left label {
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
    text-align: left;
    padding-left: 2em;
    margin-right: -5em;
    padding-top: 1em ;
    padding-bottom: 1em;
    color: #696a6e;
}
.content .left input{
    margin: 1em 0em;
    margin-right: 2em;
    padding: 0.5em;
    border-radius: 2px;
    box-shadow: none;
    border: 1px solid black;
    
    
}
.content .left select{
    margin: 1.3em 0em;
    border-radius: 2px;
    box-shadow: none;
    border: 1px solid black;
    padding: 0.4em;
    background-color: #f2f5fa;
    color: #696a6e;
    width: 176px;
}

.content .right label {
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
    text-align: left;
    padding-left: 2em;
    margin-right: 0em;
    padding-top: 1em ;
    padding-bottom: 1em;
    color: #696a6e;
}
.content .right input{
    margin: 1em 0em;
    margin-right: 2em;
    padding: 0.5em;
    padding-right: 4.5em;
    border-radius: 2px;
    box-shadow: none;
    border: 1px solid black;
    
}
.content .right .add{
    padding: 2.5em;
}
.content .right select{
    margin: 1.3em 0em;
    border-radius: 2px;
    box-shadow: none;
    border: 1px solid black;
    padding: 0.4em;
    background-color: #f2f5fa;
    color: #696a6e;
    width: 231px;
}

.content .right #photo{
margin-top: 1em;
width: 235px;
background-color: #f2f5fa;
}

.content .right #save{
    margin-top:1em;
    margin-left: 27.5em;
    background-color: #A600FF;
    border-radius: 20px;
    padding: 0.5em 3em;
    color: white;
}